<div class="card">
  <div class="card__content">
    <legend><%= t("decidim.census_connector.account.account.index.phone_heading") %></legend>
    <div class="row">
      <div class="column large-4">
        <div id="document_scope_selector" class="field">
          <%= form.select :phone_country, unicode_options_sort(phone_country_options(phone_scopes)) %>
        </div>
      </div>
      <div class="column large-8">
        <div class="field">
          <%= form.text_field :phone_number %>
        </div>
      </div>
    </div>
  </div>
</div>
