.radio-selector{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  margin-bottom: 1em;

  label{
    cursor: pointer;
    display: inline-block;
    margin-right: 10pt;
    font-size: 22px;
    margin-bottom: .5em;
    flex-grow: 1;

    input[type="radio"]{
      display: none;
    }

    input[type="radio"]:checked + div{
      background-color: transparent;
      color: $secondary;
      border: 1px solid $secondary;
      font-weight: bold;
    }

    input[type="radio"] + div{
      padding: 4pt 11pt;
      background: $secondary;
      color: white;
      border-radius: 5pt;
      min-width: 100pt;
      text-align: center;
      border: 1px solid transparent;
    }
  }
}
