.conditions-row {
  margin-bottom: 15pt;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;

  label {
    display: inline-block;
    margin-right: 15pt;
  }
}