.radio-selector{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  margin-bottom: 1em;

  label{
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: .5em;
    flex-grow: 1;

    input[type="radio"]{
      margin-right: 0;
      vertical-align: middle;

      & + div{
        margin: 0 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
