<section class="extended hero home-section" style="background-image:url(<%= background_image %>);">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight heading1 hero-heading">
        <h1 class="text-highlight heading1 hero-heading">
          <%= title_text %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-6 medium-4 mediumlarge-3">
        <%= link_to button_text, button_path, class: "hero-cta button expanded large button--sc" %>
      </div>
    </div>
  </div>
</section>
