
<% person_participatory_spaces.each do |participatory_space| %>
  <% with_participatory_space(participatory_space) do %>
<section class="extended">
  <div class="wrapper-home">
    <div class="row">
      <div class="columns small-centered large-10 card-grid">
        <div class="row column">
            <article>
              <section class="section row collapse">
                <%= link_to decidim_assemblies.assembly_path(participatory_space), class: "card__title" do %>
                  <h2><img src="<%= participatory_space.hero_image.url %>" width="50px" /> <%= translated_attribute participatory_space.title %></h2>
                <% end %>
              </section>
              <%= render_hook(:participatory_space_highlighted_elements) %>
            </article>
        </div>
      </div>
    </div>
  </div>
</section>
  <% end %>
<% end %>