<div class="column">
  <article class="card">
    <div class="card__content">
      <%= render :header %>
      <div class="card__text">
        <div class="card__text--paragraph">
          <%= description %>
        </div>
      </div>
    </div>
    <%= render :footer %>
  </article>
</div>