<div class="card__footer">
  <div class="card__support">
    <div class="card__support__data">
      <% if has_amount? %>
        <%= percentage_tag campaign %>
      <% end %>
    </div>
    <%= action_authorized_link_to :support, t('decidim.components.crowdfundings.actions.support'), resource_path, resource: campaign, class: "card__button button button--sc" %>
  </div>
</div>
