<% add_decidim_meta_tags({
  title: translated_attribute(gravity_form.title),
  url: gravity_form_url(gravity_form.id)
}) %>

<div class="row column view-header">
  <h2 class="heading2">
    <%= translated_attribute gravity_form.title %>
  </h2>
</div>

<div class="row column">
<% if can_fill_in_form? %>
  <iframe id="js-iframe"
          src="<%= embed_url %>"
          width="100%"
          height="500"
          frameBorder="0"
          class="gfiframe">
  </iframe>

  <script src="//<%= current_component.settings[:domain] %>/wp-content/plugins/gravity-forms-iframe/assets/scripts/gfembed.min.js"
          type="text/javascript">
  </script>
<% else %>
  <%= action_authorized_link_to :fill_in, t("gravity_forms.gravity_form.fill_in", scope: "decidim.gravity_forms"), gravity_form, resource: gravity_form, class: "card__button button button--sc" %>
<% end %>
</div>
