<% if campaign.terms_and_conditions.present? %>
  <div class="lopd-text">
    <strong><%=t 'activemodel.attributes.campaign.terms_and_conditions' %></strong>
    <%= sanitize translated_attribute campaign.terms_and_conditions %>
  </div>
<% end %>