<% person_participatory_spaces.each do |participatory_space| %>
  <% with_participatory_space(participatory_space) do %>
    <section>
      <div class="highlighted extended hero" style="background-image:url(<%= participatory_space.banner_image.url %>)">
        <div class="participatory_space__container">
          <div class="columns small-centered large-10">
            <div class="row">
              <div class="columns small-12 medium-6 large-4 participatory_space__container">
                <div class="row">
                  <h2 class="text-highlight heading1">
                    <%= translated_attribute participatory_space.title %>
                  </h2>
                </div>
                <div class="row">
                  <%= link_to t("content_blocks.highlighted.take_part"), Decidim::ResourceLocatorPresenter.new(participatory_space).path, class: "button large secondary button--sc " %>
                </div>
              </div>

              <%= render_hook :participatory_space_highlighted_elements %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
